DJANGO_SECRET_KEY=YOUR_DJANGO_SECRET_KEY
DJANGO_DEBUG=YOUR_DJANGO_DEBUG
DJANGO_SETTINGS_MODULE=YOUR_DJANGO_SETTINGS_MODULE
RENDER_EXTERNAL_HOSTNAME=YOUR_RENDER_EXTERNAL_HOSTNAME

DROPBOX_ACCESS_TOKEN=YOUR_DROPBOX_ACCESS_TOKEN
DROPBOX_REFRESH_TOKEN=YOUR_DROPBOX_REFRESH_TOKEN
DROPBOX_APP_SECRET=YOUR_DROPBOX_APP_SECRET
DROPBOX_APP_KEY=YOUR_DROPBOX_APP_KEY

EMAIL_FROM=YOUR_EMAIL_FROM
EMAIL_HOST_USER=YOUR_EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=YOUR_EMAIL_HOST_PASSWORD

POSTGRES_DB=YOUR_POSTGRES_DB
POSTGRES_DB_PORT=YOUR_POSTGRES_DB_PORT
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_HOST=YOUR_POSTGRES_HOST