DJANGO_SECRET_KEY=DJANGO_SECRET_KEY
DJANGO_DEBUG=True

DROPBOX_ACCESS_TOKEN=DROPBOX_ACCESS_TOKEN
DROPBOX_REFRESH_TOKEN=DROPBOX_REFRESH_TOKEN
DROPBOX_APP_SECRET=DROPBOX_APP_SECRET
DROPBOX_APP_KEY=DROPBOX_APP_KEY

EMAIL_FROM=EMAIL_FROM
EMAIL_HOST_USER=EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD