{% extends "base.html" %}

{% block content %}
  {% load static %}
<div class="d-flex" style="min-height:100vh; background-color:#f8f9fa;">

  {% include "includes/profile_sidebar.html" %}

  <div class="flex-grow-1 p-4" style="margin-right: 100px">

    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link nav-text-black" href="{% url 'booker:profile' %}">Account</a>
      </li>
      <li class="nav-item">
        <p class="nav-link nav-text-black active">Tickets</p>
      </li>
      {% if user.band %}
        <li class="nav-item">
          <a class="nav-link nav-text-black" href="{% url 'booker:profile-band' %}">Band</a>
        </li>
      {% endif %}

    </ul>

    <!-- Контент -->
    <div class="bg-white p-4 rounded shadow-sm text-center">
      {% if ticket_list %}
        <h5 class="mb-4">Your tickets</h5>

        <div class="d-flex flex-column gap-3">
          {% for ticket in ticket_list %}
            <div class="card shadow-sm border-0">
              <div class="card-body d-flex justify-content-between align-items-center">

              <!-- Ліва частина -->
              <div class="text-start">
                <h6 class="fw-bold mb-1">{{ ticket.event.band.name }}</h6>
                <small class="text-muted">{{ ticket.zone.location.name }}, {{ ticket.zone.name }}, {{ ticket.zone.location.country }}</small><br>
                <small class="text-muted">Booked: {{ ticket.added_at|date:"d M Y H:i" }}</small>
              </div>

              <!-- Права частина -->
              <div class="text-end">
                <span class="fw-bold d-block mb-1">{{ ticket.zone.price }} ₴</span>
                <span class="badge
                  {% if ticket.status == 'canceled' %} bg-warning
                  {% else %} bg-success
                  {% endif %}
                ">
                  {{ ticket.get_status_display }}
                </span>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

    {% else %}
    <h5>No tickets history</h5>
    <br><br>
    <a href="#" class="btn btn-ticket">To the poster</a>
    {% endif %}

    <div class="mt-4">
    <img src="{% static 'tickets.png' %}" alt="Tickets" style="max-width:200px;">
    </div>
    </div>
  </div>
</div>
{% endblock %}
